ul {

    font-family: 'Segoe UI';
    color: white;
    font-size: larger;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
li {
    padding-left: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14x 16px;
  text-decoration: none;
}
body {
    text-align: center;
    background-color: rgb(7, 152, 209);
}
  
  